@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<p>Submitters details:</p>

<p>Name: Chen Shelly ID: 315536607</p>

<p>Name: Noy Menashe ID: 318392768</p>